name: Build All Platforms

on:
  push:
    tags:
      - 'build*'  # 当推送 build* 标签时触发（如 build1.0.7）
  workflow_dispatch:  # 允许手动触发

jobs:
  build-client-macos:
    name: Build Client macOS
    uses: ./.github/workflows/build-client-macos.yml

  build-client-windows:
    name: Build Client Windows
    uses: ./.github/workflows/build-client-windows.yml

  build-server-android:
    name: Build Server Android
    uses: ./.github/workflows/build-server-android.yml

